// Variables for Colors

$primaryColor: #83aad6;
$primaryBlue: #83aad6;
$secondaryBlue: #6C94BC;
$secondaryColor: #a1c3e5;
$complementaryColor: #a4a5a5;
$black: #282828;
$dark: #282828;
$white: #dfebed;

// // Variables for Fonts

$font: Raleway, Arial, Helvetica, sans-serif;

//  Variables for Width

$max-width : 1200px;