// Import var and modules
@import '_reset';
@import '_mixins';

@import '_variables';

body{
    background-color: #555;
    overflow-x: hidden;
    font-family: sans-serif;
}
#posterBackground{
    background-color: #333;
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    opacity: .2;
    filter: blur(10px);
}
#infoGraphics{
    position: relative;
    max-width:1000px;
    width: calc(90% - 30px);
    padding: 30px;
    margin-left: 50%;
    //background-color: rgba(#333, .75);
    @include transform(
        translateX(-50%)
    );
    h1, h2{
        width: max-content;
        margin-left: 50%;
        @include transform(
            translateX(-50%)
        );
        font-size: 35px;
        color: white;
        border-bottom: 1px solid #FFF;
        padding: 25px 35px;
    }
    h2{
        padding: 20px 35px;
        font-size: 20px;
    }
    #circularInfographic, #linerInfographic{
        width: 100%;
        margin-top: 50px;
        path, circle, text {
            @include transition( opacity .25s );
        }
        .gen { 
            font: normal 10px sans-serif;
            fill: #FFF;
        }
        .genUnderline, .conntLine{ 
            stroke-width:.5;
            fill: transparent;
        }
        .movName{
            font: normal 6.5px sans-serif;
            fill: #FFF;
        }
        .genName{
            font: normal 8px sans-serif;
            fill: #FFF;
        }
        .smallText{
            font: normal 6px sans-serif;
            fill: #FFF;
        }
        .mediumText{
            font: normal 8px sans-serif;
            fill: #FFF;
        }
        [data-hover-movie],
        [data-hover-genre],
        [data-genre-hover-i]{
            cursor: pointer;
        }
    }
    #adjustInfoGraphic{
        border: 2px solid #FFF;
        padding: 2em;
        width: max-content;
        [type="range"]{
            width: 100%;
        }
        legend {
            background-color: #eee;
            color: #333;
            padding: 8px 24px;
        }
        label {
            margin-top: 1rem;
            display: block;
            font-size: .8rem;
            color: #FFF;
        }
        p{
            text-align: right;
            color: #FFF;
        }
    }
}
#movieInfo,#genInfo{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    max-width: 400px;
    height: max-content;
    background-color: rgba(#333, .65);
    border: 3px solid rgba(#333, .85);
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    img{
        height: 150px;
    }
    ul{
        margin-top: 10px;
        margin-left: 15px;
        li{
            font-size: 12px;
            margin-top: 5px;
        }
        strong{
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 20px;
            font-size: 18px;
            background-color: #FFF;
            margin-right: 5px;
        }
    }
    #info,div{
        padding: 1em;
        display: inline;
        color: white;
        h4{
            font-size: 20px;
            padding: .5em 0;
            strong{
                display: inline-block;
                width: 12px;
                height: 12px;
                border-radius: 20px;
                font-size: 18px;
                background-color: #FFF;
                margin-right: 5px;
            }
        }
        span{
            font-size: 18px;
            font-weight: 600;
        }
        p{
            font-size: 12px;
            padding: .35em 0;
        }
    }
}