// Import var and modules
@import '_reset';
@import '_mixins';

@import '_variables';

#outSVG{
    margin-top: 50px;
    margin-left: 50%;
    @include transform(
        translateX(-50%)
    );
}
body{
    background-color: #555;
    overflow-x: hidden;
}
.gen { 
    font: normal 10px sans-serif;
    fill: #FFF;
}
.genUnderline, .conntLine{ 
    stroke-width:.5;
    fill: transparent;
}
.movName{
    font: normal 6.5px sans-serif;
    fill: #FFF;
}
[data-hover-movie],[data-hover-genre]{
    cursor: pointer;
}